<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>


<a href="${pageContext.request.contextPath}/jsp/mainPage.jsp" class="btn btn-info" role="button"><fmt:message key="tag.main.page.button"/></a>